<div class="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="banner-content">
          <h1>Seu Carro Compartilhado</h1>
          <p>Alugue um carro perto de você de maneira segura, prática e econômica.</p>
          <a href="#" class="btn btn-rouded"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="how-it-works">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center title">Como funciona o Pegcar</h2>
        <div class="col-xs-4">
          <div class="how-it-works-item">
            <div class="col-xs-3">
              <img src="https://pegcar.com/images/homeSearch.png" alt="search">
            </div>
            <div class="col-xs-9 description text-left">
              <h4>Procure um carro</h4>
              <p>Encontre o carro ideal para você. Seja para usar durante algumas horas ou vários dias na semana.</p>
            </div>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="how-it-works-item">
          <div class="col-xs-3">
              <img src="https://pegcar.com/images/homeCalendar.png" alt="calendar">
            </div>
            <div class="col-xs-9 description text-left">
              <h4>Faça sua reserva</h4>
              <p>Cadastre-se no Pegcar e faça a reserva do carro. O proprietário irá receber e aprovar o seu pedido.</p>
            </div>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="how-it-works-item">
            <div class="col-xs-3">
              <img src="https://pegcar.com/images/homeCar.png" alt="car">
            </div>
            <div class="col-xs-9 description text-left">
              <h4>Saia dirigindo</h4>
              <p>Pegue o carro e saia dirigindo. Fique tranquilo, o seguro está incluso e você só paga a gasolina.</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 text-center">
          <a class="btn-rounded btn-orange" href="#">MAIS INFORMAÇÕES</a>
        </div>
      </div>
    </div>
  </div>
</div>
