<div class="condutor-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>Contutor</h1>
      </div>
    </div>
  </div>
</div>

<div class="passo-a-passo-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="col-xs-12 text-center">
          <h2>PASSO A PASSO</h2>
        </div>

        <div class="col-xs-12">
          <div class="col-xs-offset-1 col-xs-2">
            <img src="https://pegcar.com/images/how_it_works/cond1.png" alt="">
            <h4>1. CADASTRE-SE</h4>
            <p class="text-justified">Você se cadastra aqui, nos envia algumas poucas informações pessoais e assim que for aprovado, você está liberado para reservar um carro.</p>
          </div>

          <div class="col-xs-2">
            <img src="https://pegcar.com/images/how_it_works/cond2.png" alt="">
            <h4>2. RESERVE</h4>
            <p class="text-justified">Procure o melhor carro para você, com um preço que caiba no seu bolso e com as características que você precisar. Você pode ainda escolher se deseja alugar o carro por algumas horas do dia ou alguns dias da semana. Já encontrou o carro ideal? Agora é só preencher os dados de pagamento e solicitar sua reserva para o proprietário!</p>
          </div>

          <div class="col-xs-2">
            <img src="https://pegcar.com/images/how_it_works/cond3.png" alt="">
            <h4>3. RECEBA AS CHAVES</h4>
            <p class="text-justified">Após a aprovação do proprietário, vá até o local combinado. Circule com o proprietário em volta do carro para checar se há algum dano pré-existente. Assine a folha de vistoria disponibilizada pelo Pegcar e receba as chaves do carro.</p>
          </div>

          <div class="col-xs-2">
            <img src="https://pegcar.com/images/how_it_works/cond4.png" alt="">
            <h4>4. SAIA DIRIGINDO</h4>
            <p>Use o carro para viajar, transportar algum objeto, curtir com os amigos, fazer compras, impressionar no primeiro encontro ou até mesmo fazer um test-drive. Ah, fique tranquilo que o seguro está incluso e você só paga a gasolina que utilizou!</p>
          </div>

          <div class="col-xs-2">
            <img src="https://pegcar.com/images/how_it_works/cond5.png" alt="">
            <h4>5. FAÇA SUA AVALIAÇÃO</h4>
            <p class="text-justified">Entregue o carro no mesmo lugar da retirada e não esqueça de fazer sua avaliação do proprietário. A comunidade Pegcar agradece (e muito).</p>
          </div>
        </div>

        <div class="col-xs-12 text-center paddingfy">
          <a class="btn-rounded btn-orange" href="#">Alugue um carro</a>
        </div>
      </div>
    </div>
  </div>
</div>




