<div class="condutor-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>Proprietario</h1>
      </div>
    </div>
  </div>
</div>

<div class="passo-a-passo-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="col-xs-12 text-center">
          <h2>PASSO A PASSO</h2>
        </div>

        <div class="col-xs-12">
          <div class="col-xs-offset-1 col-xs-2">
            <img src="https://pegcar.com/images/how_it_works/prop1.png" alt="">
            <h4>1. CADASTRE SEU CARRO</h4>
            <p class="text-justified">Você cadastra seu carro aqui, incluindo características, fotos, localização e disponibilidade. Determine o preço que julgar adequado e basta esperar pelas solicitações de aluguel.</p>
          </div>

          <div class="col-xs-2">
            <img src="https://pegcar.com/images/how_it_works/prop2.png" alt="">
            <h4>2. RECEBA SOLICITAÇÕES</h4>
            <p class="text-justified">Ao solicitarem seu carro, você será notificado via email e poderá aceitar ou rejeitar o potencial condutor. O Pegcar fornecerá o perfil completo do solicitante para auxiliá-lo no processo de decisão.</p>
          </div>

          <div class="col-xs-2">
            <img src="https://pegcar.com/images/how_it_works/prop3.png" alt="">
            <h4>3. ENTREGUE AS CHAVES</h4>
            <p class="text-justified">Caso você aceite a solicitação, o condutor irá encontrá-lo no local e horário combinados. Circule com o condutor em volta do carro para apresentar eventuais danos pré-existentes. Assine a folha de vistoria disponibilizada pelo Pegcar e entregue as chaves do carro.</p>
          </div>

          <div class="col-xs-2">
            <img src="https://pegcar.com/images/how_it_works/prop4.png" alt="">
            <h4>4. GANHE DINHEIRO</h4>
            <p>Coloque seu carro para trabalhar! Ao invés de deixar seu carro parado na garagem, faça dele uma fonte de renda adicional. O Pegcar cuida de toda parte operacional da transação, incluindo cobertura de seguro, assistência 24 horas e reserva e pagamento.</p>
          </div>

          <div class="col-xs-2">
            <img src="https://pegcar.com/images/how_it_works/prop5.png" alt="">
            <h4>5. FAÇA SUA AVALIAÇÃO</h4>
            <p class="text-justified">Receba o carro no mesmo lugar da entrega e não esqueça de fazer sua avaliação do condutor. A comunidade Pegcar agradece (e muito).</p>
          </div>
        </div>

        <div class="col-xs-12 text-center paddingfy">
          <a class="btn-rounded btn-blue" href="#">CADASTRE SEU CARRO</a>
        </div>
      </div>
    </div>
  </div>
</div>




